<div class="dropdown show">
  <a class="btn btn-default dropdown-toggle"  id="dropdownMenuLink" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    Sort Artists
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" >  <%= link_to "Sort by name", artists_path(sort: "name") %></a>
  </div>
</div>

<section class="gallery">
  <% @artists.each do |artist| %>
     <article class="card">
        <div class="img">
          <%= image_tag artist.photo.image.thumbnail %>
        </div>
      <h2 style = "text-decoration: none; padding-left: 20px; "><%= link_to artist.name, artist %></h2>
      </article>
   <% end %>
</section>


<div style="height: 30px;"> </div>
