<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a style="font-family: 'Pacifico', cursive, serif; font-size: 60px; color: #00CED1; margin-top: 20px;"
        <%= link_to "Codaisseuruify", root_path, class: "navbar-brand" %></a>
    </div>
  </div>
</nav>
