@import "bootstrap-sprockets";
@import "bootstrap";


.card {
  color: white;
  background-color: #20B2AA;
  width: calc(100%/3 - 40px);
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
    h2 {
      a {
        color: white;
        }
       }
}

.img {
  height: 150px;
  overflow: hidden;
  padding-left: 20px;
  padding-top: 10px;
}

.gallery {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  height: 100px;
  margin-bottom: 0;
}

h4 {
  padding-left: 20px;
}

.dropdown {
  margin-left: 550px;
    a {
      color: 	#00BFFF;
      font-size: 15px;
      }
}

.panel-heading {
  h4, li {
    color: black;
  }
  h4 {
    text-decoration: underline;
  }
}

#deleteart {
  margin-left: 30px;
}
